/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --dark-color-a: #131c21;
  --dark-color-b: #100E17;
  --light-color: #e3e3e9;
  --success-color: #42f5b0;
  --error-color: #f19012;
}

* {
  
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  background-color: #100E17;

  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 15px 15px;
  background-image: linear-gradient(45deg, #FF6E00, #FF195A);
  color: white;
  border: 0;
  font-size: 17px; 
  border-radius: 5px;
}



.btn_m {
  cursor: pointer;
  padding: 10px;
  background-image: linear-gradient(45deg, #FF6E00, #FF195A);
  color: white;
  border: 0;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}





/* Chat Page */

.chat-container {
  padding-top: 10px;
  background: #100E17;
  margin: auto;
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.chat-header {
  margin-bottom: 15px;
  color: #00ffe7;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #100E17;
}



.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: #100E17;
  color: #f19012;
  padding: 20px 30px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 17px;
  
 border-radius: 10px;
  padding: 10px;
  color: #00ffe7;
  margin-bottom: 20px;
  border-left: 5px solid #ff0404;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
  background: linear-gradient(to right, #FF6E00, #ff0048, #ff0048);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
}

.chat-sidebar ul li {
  padding: 10px 0;
  color: #00ffe7;
    padding: 10px;
  border-left: 5px solid #ff0404;
  box-sizing: border-box;
  border-radius: 10px;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
  background: #100E17;
  
  display: block;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background: linear-gradient(to right,  #FF6E00, #ff0048);;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  display: table;
  
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  
  margin-bottom: 7px;
  padding-right: 50px;
  
}

.chat-messages .message .meta span {
  color: #fff;
  padding: 10px;
  padding-bottom: 20px;
}

.chat-form-container {
  border-radius: 5px;
  padding: 20px 20px;
  background-color: #100E17;
}

.chat-form-container form {
  display: flex;
  border-radius: 5px;
  
}

.chat-form-container input[type="text"] {
  font-size: 17px;
  padding: 5px;
  height: 40px;
  flex: 1;
  background-color: #15121f;
  border-radius: 10px;
  color: #fff;
  padding-left: 20px;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-a);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 17px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 17px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FF2430;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FF2430;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FF2430;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FF2430;
}